<!DOCTYPE html>
<html>
  <head>
    <title>cryptcurrencycheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    link 1 | link 2 | link 3
  </br>
    <%= yield %>
  </body>
</html>
